# Good reference
http://www.diveintopython3.net/special-method-names.html

# Load

1. RDBMS (sqlite, MySQL, PostgreSQL...)
2. NoSQL (MongoDB, Elasticsearch, HBase...)
3. File (csv, json..etc)

In [6]:
import sqlite3  #一種小型的資料庫套件

In [7]:
db = sqlite3.connect("./mydb.sqlite3") #創建一個資料庫並命名

In [8]:
db.cursor() #資料庫游標

In [9]:
cur = db.cursor()

In [10]:
cur.execute("CREATE TABLE water(wellid int, level int);") #新增一個Table

In [92]:
db.commit() #確認交易

In [11]:
cur.execute("INSERT INTO water VALUES (1, 90)") #新增資料

In [12]:
db.commit()

In [13]:
cur.execute("SELECT * FROM water;") #資料查詢

In [14]:
for row in cur:
    print(row, row[0], row[1])  #show出游標資料

(1, 90) 1 90

In [16]:
data_list = [(1, 80),
             (2, 60),
             (3, 20),
             (4, 10),
             (5, 0),
             (6, 80)]  #多筆list

In [17]:
cur.executemany("INSERT INTO water VALUES (?, ?)", data_list) #由list一次輸入多筆資料

In [18]:
db.commit()

In [19]:
cur.execute("SELECT * FROM water;")
for row in cur:
    print(row)

(1, 90)
(1, 80)
(2, 60)
(3, 20)
(4, 10)
(5, 0)
(6, 80)

In [20]:
cur.execute("INSERT INTO water VALUES (%s, %s)" % (1,2))

In [21]:
db.commit()

In [22]:
cur.execute("SELECT * FROM water;")
for row in cur:
    print(row)

(1, 90)
(1, 80)
(2, 60)
(3, 20)
(4, 10)
(5, 0)
(6, 80)
(1, 2)

In [25]:
!pip install sqlalchemy #python最有名的orm套件

# 簡介ORM技術
# 60年代物件導向程式(Object-oriented programming, OOP)被提出後，
# 物件導向逐漸成為所有程式設計師的共通語言。在這幾十年間，物件導向技術逐漸成熟，
# 舉凡對網路的通訊協定、檔案存取、XML文件等操作都已經物件化，
# 讓IT產業的貢獻者能以更接近自然語言的方式討論與創新各種不同領域的資訊系統。
# Object-Relational Mapping (ORM, O/RM, or O/R mapping)一詞就是將關聯式資料庫
# 映射至物件導向的資料抽象化技術。其理念是將資料庫的內容映射為物件，
# 讓程式開發人員可以用操作物件的方式對資料庫進行操作，而不直接使用SQL語法對資料庫進行操作。
# 讓程式設計師不用管底層的資料庫系統是哪種廠牌或哪個版本的
# 資料庫(如：SQL Server、Oracle、DB2、MySQL、Sybase、DBMaker…)，
# 僅須用同一套語法撰寫存取資料庫的邏輯。當底層資料庫的實作品變更時，
# 由於程式設計師並不直接對資料庫進行操作，因此程式內容幾乎不用修改，也就是降低了物件導向程式與資料庫之間的耦合關係。

Requirement already satisfied: sqlalchemy in /home/skydream37/.pyenv/versions/3.6.1/lib/python3.6/site-packages

In [26]:
from sqlalchemy.ext.declarative import declarative_base  #創建架構
from sqlalchemy import Column, Integer, String

In [27]:
Base = declarative_base()
class User(Base):
    __tablename__ = 'users'  #python magic method
    
    _id = Column(Integer, primary_key=True)  #創建key值
    name = Column(String) #value
    fullname = Column(String) #value
    
    def __repr__(self):  #回傳給使用者看到的資訊
        return "<User(name='%s', fullname='%s')" % (self.name, self.fullname)

In [28]:
ian = User(name='david', fullname='david chen')

In [29]:
ian.name

'david'

In [33]:
ian

<User(name='david', fullname='david chen')

In [34]:
from sqlalchemy import create_engine  #對資料庫import引擎
from sqlalchemy.orm import sessionmaker

In [35]:
engine = create_engine('sqlite:///mydb.sqlite3', echo=True)

In [36]:
Session = sessionmaker()

In [37]:
Session.configure(bind=engine)

In [38]:
Session

sessionmaker(class_='Session',bind=Engine(sqlite:///mydb.sqlite3), autoflush=True, autocommit=False, expire_on_commit=True)

In [39]:
s = Session()

In [40]:
s

In [41]:
s.add(ian)

In [42]:
# 還沒創建table
# s.commit()

In [43]:
# 自動建立table
Base.metadata.create_all(engine)

2017-05-02 20:24:06,682 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-05-02 20:24:06,688 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:06,693 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-05-02 20:24:06,699 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:06,703 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-05-02 20:24:06,704 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:06,709 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	_id INTEGER NOT NULL,
	name VARCHAR,
	fullname VARCHAR,
	PRIMARY KEY (_id)
)


2017-05-02 20:24:06,715 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:06,721 INFO sqlalchemy.engine.base.Engine COMMIT

In [44]:
s.rollback()

In [45]:
s.add(ian)
s.commit()

2017-05-02 20:24:12,246 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-05-02 20:24:12,260 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname) VALUES (?, ?)
2017-05-02 20:24:12,273 INFO sqlalchemy.engine.base.Engine ('david', 'david chen')
2017-05-02 20:24:12,277 INFO sqlalchemy.engine.base.Engine COMMIT

In [46]:
for row in s.query(User).filter_by(name='ian'):
    print(row, row.fullname)

2017-05-02 20:24:13,513 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-05-02 20:24:13,520 INFO sqlalchemy.engine.base.Engine SELECT users._id AS users__id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.name = ?
2017-05-02 20:24:13,522 INFO sqlalchemy.engine.base.Engine ('ian',)

In [47]:
s.add(ian)

In [48]:
s.commit()

2017-05-02 20:24:15,395 INFO sqlalchemy.engine.base.Engine COMMIT

In [49]:
for row in s.query(User).filter_by(name='andy'):
    print(row, row.fullname)

2017-05-02 20:24:20,656 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-05-02 20:24:20,661 INFO sqlalchemy.engine.base.Engine SELECT users._id AS users__id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users.name = ?
2017-05-02 20:24:20,665 INFO sqlalchemy.engine.base.Engine ('andy',)

In [50]:
ian

2017-05-02 20:24:27,997 INFO sqlalchemy.engine.base.Engine SELECT users._id AS users__id, users.name AS users_name, users.fullname AS users_fullname
FROM users
WHERE users._id = ?
2017-05-02 20:24:28,005 INFO sqlalchemy.engine.base.Engine (1,)

<User(name='david', fullname='david chen')

In [51]:
ian

<User(name='david', fullname='david chen')

In [52]:
ian

<User(name='david', fullname='david chen')

In [53]:
import requests

In [54]:
requests.get("https://google.com")

In [55]:
"<Response [%s]" % (self.status_code)

NameError: name 'self' is not defined

In [56]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /home/skydream37/.pyenv/versions/3.6.1/lib/python3.6/site-packages
Requirement already satisfied: numpy>=1.7.0 in /home/skydream37/.pyenv/versions/3.6.1/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in /home/skydream37/.pyenv/versions/3.6.1/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: python-dateutil>=2 in /home/skydream37/.pyenv/versions/3.6.1/lib/python3.6/site-packages (from pandas)
Requirement already satisfied: six>=1.5 in /home/skydream37/.pyenv/versions/3.6.1/lib/python3.6/site-packages (from python-dateutil>=2->pandas)

In [57]:
df = pd.read_sql("SELECT * FROM users;", create_engine('sqlite:///mydb.sqlite3', echo=True))

2017-05-02 20:24:39,814 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-05-02 20:24:39,822 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:39,829 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-05-02 20:24:39,832 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:39,838 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("SELECT * FROM users;")
2017-05-02 20:24:39,840 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:39,845 INFO sqlalchemy.engine.base.Engine SELECT * FROM users;
2017-05-02 20:24:39,847 INFO sqlalchemy.engine.base.Engine ()

In [58]:
df

   _id   name    fullname
0    1  david  david chen

In [59]:
pd.DataFrame([{
    "_id": 3,
    "name": 'brian',
    "fullname": 'brian luan'
}])

   _id    fullname   name
0    3  brian luan  brian

In [60]:
df2 = df.append(pd.DataFrame([{
    "_id": 3,
    "name": 'brian',
    "fullname": 'brian luan'
}]))

In [61]:
df2.index = df2._id

In [62]:
df2

     _id    fullname   name
_id
1      1  david chen  david
3      3  brian luan  brian

In [63]:
df2.to_sql('user_clean', create_engine('sqlite:///mydb.sqlite3', echo=True))

2017-05-02 20:24:43,770 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-05-02 20:24:43,780 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:43,781 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-05-02 20:24:43,782 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:43,784 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("user_clean")
2017-05-02 20:24:43,787 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:43,790 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user_clean (
	_id BIGINT,
	fullname TEXT,
	name TEXT
)


2017-05-02 20:24:43,797 INFO sqlalchemy.engine.base.Engine ()
2017-05-02 20:24:43,803 INFO sqlalchemy.engine.base.Engine COMMIT

ValueError: duplicate name in index/columns: cannot insert _id, already exists